<h1>Search Analytics</h1>

<table>
  <thead>
    <tr>
      <th>Search Query</th>
      <th>Search Count</th>
    </tr>
  </thead>
  <tbody>
    <% @user_searches.each do |user_search| %>
      <tr>
        <td><%= user_search.record %></td>
        <td><%= user_search.search_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>