<div class="d-flex justify-content-center">
  <div class="col-6">
    <h1 class="display-4 text-center">Search</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="search-input" placeholder="Search...">
    </div>
    <div id="search-results"></div>
  </div>
</div>
<div class="container">
  <div id="search_trends"></div>
</div>
 

<%= javascript_include_tag 'search' %>